body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
}
.header {
  background-color: rgba(1, 178, 158);
  color: #fff;
  padding: 20px;
  text-align: center;
}
.teleport {
  background-color: rgba(151, 179, 232);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.main {
  padding: 20px;
}
.footer {
  background-color: rgba(1, 178, 158);
  color: #fff;
  padding: 20px;
  text-align: center;
}
img{
	width: 100%;
	padding: 5%;
}
.pic{
	padding: 5%;
	width: 50%;
}
.game_introduce_left{
	display: flex;
	width: 100%;
}
.game_introduce_right{
	display: flex;
	width: 100%;
}
.text_left{
	text-align: left;
	width: 50%;
	padding: 5%;
}
.text_right{
	text-align: right;
	width: 50%;
	padding: 5%;
}